<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" id="title-modal" placeholder="Title?" ng-model="title">
  </div>
  <textarea id="markdown-modal" name="content" rows="20" ng-model="markdown"></textarea>
</form> 

<!-- FOR EDITS:
<div data-provide="markdown-editable">
          <h3>This is some editable heading</h3>
          <p>Well, actually all contents within this "markdown-editable" context is really editable. Just click anywhere!</p>
</div>

-->