.slab {
  width: 250px;
  height: 250px;
}
  
body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 270px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

nav.theforumheader {
  height: 250px;
}
