<div class="row well bs-callout thread-preview" ng-class="{'bs-callout-new': thread.me.updates}" ng-click="view()">
  <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
    <a href="#" class="pull-right">
      <img class="img-circle img-responsive" ng-src="{{thread.author.photo}}&sz=64" alt="{{thread.author.handle}}" title="{{thread.author.handle}}">
    </a>
    <span class="media-object-sub pull-right">{{thread.author.handle}}</span></div>
  <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
    <div class="row">
      <h2 class="media-heading">{{thread.title}} </h2>
    </div>
    <div class="row">
      <p>
        <img class="img-circle" 
             ng-src="{{reply.author.photo}}&sz=32" 
             alt="{{reply.author.handle}}" 
             title="{{reply.author.handle}}" 
             style="width: 32px; height: 32px;"
             ng-repeat="reply in thread.reply">
      </p>
    </div>
  </div>
  <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
    <timestamp time="thread.created"></timestamp>
  </div>
</div>
