<div class="well bs-callout thread-preview" ng-class="{'bs-callout-new': thread.me.updates}" ng-click="view()">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle" ng-src="{{thread.author.photo}}" alt="{{thread.author.handle}}" title="{{thread.author.handle}}" style="width: 64px; height: 64px;">
      </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading">{{thread.title}} 
        <span ng-if="thread.reply.length > 0" class="badge">{{thread.reply.length}}</span>
        <small class="pull-right txt-xs">{{thread.created | date:'medium'}}</small>
      </h2>
      <p ng-bind-html="markdownHtml"></p>
    </div>
  </div>
<!--
  <p class="pull-right">
    <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a>
  </p>
-->
</div>