<div class="well bs-callout thread-preview" ng-class="{'bs-callout-new': thread.me.updates}" ng-click="view()">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-circle" src="{{thread.author.photo}}&sz=64" alt="{{thread.author.handle}}" style="width: 64px; height: 64px;" title="{{thread.author.handle}}">
      </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading">{{thread.title}} 
        <span ng-if="thread.reply.length > 0" class="badge">{{thread.reply.length}}</span>
        <small class="pull-right">{{thread.created | date:'medium'}}</small>
      </h2>
      <p>
        <img class="img-circle" 
             src="{{reply.author.photo}}&sz=32" 
             alt="{{reply.author.handle}}" 
             title="{{reply.author.handle}}" 
             style="width: 32px; height: 32px;"
             ng-repeat="reply in thread.reply">
      </p>
    </div>
  </div>
<!--
  <p class="pull-right">
    <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a>
  </p>
-->
</div>